<div class="page-width {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
  <div class="also-bought-widget"></div>
</div>

{% schema %}
{
  "name": "Also Bought widget",
  "tag": "section",
  "class": "section",
  "presets": [
    {
      "name": "Also Bought widget"
    }
  ]
}
{% endschema %}
